# OS
.DS_Store
Thumbs.db

# Environnement
.env
.env.local

# PHP / Composer
/vendor

# Node / JS
/node_modules/

# Public JS / Webpack
/public/js/webpack/

# Caches & logs
/cache/
/logs/
*.log

# IDE / éditeurs
.vscode

# Backups & dumps
*.sql.gz
*.bak

